@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400&display=swap');

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

body {
  overflow: hidden;
}

.leftArea {
  float: left;
  background-color: rgb(226, 249, 249);
  height: 100vh;
  padding: 7px;
  width: 23%;
}

.form {
  padding-bottom: 10px;
  border-bottom: 1px solid rgb(183, 182, 182);
} 
  
#searchInput {
  margin-top: 10px;
  width: 70%;
  height: 2.5rem;
  outline-color: rgba(247, 2, 2, 0.776);
  border-radius: 5px;
  border: 1px solid rgb(153, 136, 136);
  padding: 5px;
  font-size: 16px;
}

.formOutput {
  margin-top: 10px;
  width: 100%;
  height: 82%;
}

.formOutput a {
  text-decoration: none;
  color: black;
}

.output li {
  padding: 10px;
  width: 100%;
}

.output{
  align-items: center;
  display: flex;
  justify-content: space-between;
  user-select: none;
  border-radius: 7px;
  width: 100%;
  background: rgba(222, 222, 222, 0.596);
  list-style: none;
  font-size: 1.03rem;
  margin: 6px 0 6px 0;
  cursor: pointer;
  font-weight: 400;
}

.output:hover {
  background: rgba(213, 212, 212, 0.812);
}

.editIcon, .deleteIcon{
  margin-right: 15px;
  z-index: 10;
  width: 52%;
  height: 100%;
  cursor: pointer;
  padding: 4px;
}

.outputIcons {
  display: flex;
  justify-content: right;
  width: 20%;
}

.editIcon:hover, 
.deleteIcon:hover {
  background: rgba(151, 151, 151, 0.503);
  border-radius: 4px;
}

.name {
  background: rgb(226, 249, 249);
  width: 100%;
  text-align: center;
  margin-top: 10px;
  border-top: 1px solid rgb(183, 182, 182);
  bottom: 0px;
  left: 4.5rem;
  padding: 10px;
  font-size: 25px;
  font-weight: 700;
  font-family: 'Calibri';
}

.underline {
  border-top: 4px solid red;
}

.btnAdd {
  margin-left: 1%;
  cursor: pointer;
  font-size: 16px;
  width: 29%;
  height: 2.5rem;
  background-color: red;
  border: none;
  border-radius: 5px;
  color: white;
}

.rightArea {
  float: right;
  width: 74%;
  height: 100vh;
}

.ContactName {
  font-size: 30px;
  color: rgb(47, 47, 47)
}

.ContactAge {
  color: rgb(75, 75, 75);
}

.ContactView {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.ContactInfo {
  margin-left: 10px;
  width: 80%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  font-family: 'Calibri';
}

.Board {
  border-radius: 10px;
  padding: 20px;
  background: #ffffff;  /* fallback for old browsers */
  /* background: -webkit-linear-gradient(to right, #2948ff, #396afc);
  background: linear-gradient(to right, #2948ff, #396afc);  */
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
  display: flex;
  justify-content: center;
  width: 45%;
}

.userImage {
  width:35%;
}

.userImage img{
  width: 100%;
}

.Bio {
  margin-top: 10px;
  font-weight: 400;
  color: rgb(87, 87, 87);
}

.AddNew {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.AddNewBoard {
  height: fit-content;
  width: 40%;
  padding: 30px;
  border-radius: 5px;
  background-color: rgb(255, 255, 255);
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;

}

.boardTitle {
  font-size: 25px;
  font-weight: 500;
  color: rgb(67, 67, 67);
}

.authWarning {
  width: 100%;
  height: 20px;
}

.warn {
  color: red;
}

.success {
  color: rgb(35, 35, 240);
}

.AddNewBoard h2 {
  margin-top: 20px;
  font-family: 'calibri';
  font-size: 20px;
  color: rgb(87, 87, 87);
  font-weight: 300;
}

.ageInput {
  width: 28%;
  height: 2.5rem;
  outline-color: rgba(247, 2, 2, 0.776);
  border-radius: 5px;
  border: 1px solid rgb(153, 136, 136);
  padding: 5px;
  font-size: 16px;
}

.AddBtn {
  cursor: pointer;
  background: rgb(133, 36, 224);
  border: none;
  border-radius: 5px;
  color: white;
  font-size: 16px;
  width: 5rem;
  height: 2.5rem;
  margin-top: 30px;
}

.nameInput {
  width: 100%;
  height: 2.5rem;
  outline-color: rgba(247, 2, 2, 0.776);
  border-radius: 5px;
  border: 1px solid rgb(153, 136, 136);
  padding: 5px;
  font-size: 16px;
}

.bio {
  display: flex;
  flex-direction: column;
}

.bio lable {
  margin-top: 20px;
  font-family: 'calibri';
  font-size: 20px;
  color: rgb(87, 87, 87);
  font-weight: 300;
}

.bio textarea {
  outline-color: rgba(247, 2, 2, 0.776);
  border-radius: 5px;
  border: 1px solid rgb(153, 136, 136);
  padding: 5px;
  font-size: 16px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.editPage {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  
}

.editInputs {
  height: fit-content;
  width: 40%;
  padding: 30px;
  border-radius: 20px;
  background-color: rgb(236, 231, 231);
  display: flex;
  flex-direction: column;
}

.editInputs h2 {
  margin-top: 20px;
  font-family: 'calibri';
  font-size: 20px;
  color: rgb(87, 87, 87);
  font-weight: 300;
}

.editInputs input[type="number"] {
  width: 28%;
}

.ageInput input {
  height: 2.5rem;
}

.editInputs input, 
.editInputs textarea {
  outline-color: rgb(153, 72, 228);
  border-radius: 5px;
  border: 1px solid rgb(153, 136, 136);
  padding: 5px;
  font-size: 16px;
}

.editInputs button {
  cursor: pointer;
  background: rgb(133, 36, 224);
  border: none;
  border-radius: 5px;
  color: white;
  font-size: 16px;
  height: 2.5rem;
  margin-top: 30px;
}