@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400&display=swap');

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.mainContainer {
  display: flex;
}

.leftArea {
  background-color: rgb(226, 249, 249);
  height: 100dvh;
  padding: 7px;
  width: 60vh;
}

.form {
  padding-bottom: 10px;
  border-bottom: 1px solid rgb(183, 182, 182);
} 
  
.searchInput {
  width: 70%;
  font-size: 16px;
}

.formOutput {
  margin-top: 10px;
  width: 100%;
  height: 82%;
  overflow-x: hidden;
  
}

.formOutput a {
  text-decoration: none;
  color: black;
}

.output li {
  padding: 10px;
  width: 100%;
}

.output{
  align-items: center;
  display: flex;
  justify-content: space-between;
  user-select: none;
  border-radius: 7px;
  width: 100%;
  background: rgba(222, 222, 222, 0.596);
  list-style: none;
  font-size: 1.03rem;
  margin: 6px 0 6px 0;
  cursor: pointer;
  font-weight: 400;
}

.output:hover {
  background: rgba(213, 212, 212, 0.812);
}

.editBtn{
  width: 60px;
  padding: 8px;
  border-radius: 5px;
  margin: 4px;
}

.deleteBtn {
  width: 90px;
  padding: 8px;
  border-radius: 5px;
  margin: 4px
}

.editBtn, .deleteBtn {
  text-decoration: none;
}

.edit, .delete {
  display: flex;
  align-items: center;
  color: rgb(68, 68, 68);
  background: rgb(207, 207, 207);
  cursor: pointer;

}

.editBtn p, .deleteBtn p {
  margin-left: 5px;
}

.editIcon, .deleteIcon {
  width: 20px;
}

.delete {
  margin-left: 10px;
  border-radius: 5px;
  padding: 5px;
  display: flex;
  justify-content: center;
  width: 90px;
}

.edit {
  border-radius: 5px;
  padding: 5px;
  display: flex;
  justify-content: center;
  width: 70px;
}

.outputIcons {
  display: flex;
  justify-content: center;
  width: 100%;
}

.edit:hover, 
.delete:hover {
  background: rgba(121, 121, 121, 0.503);
  border-radius: 4px;
}

.name {
  background: rgb(226, 249, 249);
  width: 100%;
  text-align: center;
  margin-top: 10px;
  border-top: 1px solid rgb(183, 182, 182);
  bottom: 0px;
  left: 4.5rem;
  padding: 10px;
  font-size: 25px;
  font-weight: 700;
  font-family: 'Calibri';
}

.underline {
  border-top: 4px solid red;
}

.btnAdd {
  margin-left: 1%;
  cursor: pointer;
  font-size: 16px;
  width: 29%;
  height: 2.5rem;
  background-color: red;
  border: none;
  border-radius: 5px;
  color: white;
}

.rightArea {
  width: 100%;
  height: 100vh;
}

.ContactName {
  font-size: 30px;
  color: rgb(47, 47, 47)
}

.ContactAge {
  color: rgb(75, 75, 75);
}

.ContactInfo {
  margin-left: 10px;
  width: 80%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  font-family: 'Calibri';
}

.Board {
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 60vh;
  padding: 10px;
  background: #ffffff; 
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
  border-radius: 10px;

}

.Board-Info {
  display: flex;
}

.userImage {
  width:35%;
}

.userImage img{
  width: 100%;
}

.Bio {
  margin-top: 10px;
  font-weight: 400;
  color: rgb(87, 87, 87);
}

.AddNew,
.editPage,
.ContactView {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.AddNewBoard, 
.editInputs {
  width: 48vh;
  padding: 30px;
  border-radius: 10px;
  background-color: rgb(249, 249, 249);
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;

}

.boardTitle {
  font-size: 25px;
  font-weight: 500;
  color: rgb(67, 67, 67);
}

.authWarning {
  width: 100%;
  height: 20px;
}

.warn {
  color: red;
}

.success {
  color: rgb(35, 35, 240);
}

.ageInput {
  width: 40%;
  top: 10px;
  bottom: 10px;
}

.AddBtn,
.editInputs button {
  cursor: pointer;
  background: rgb(133, 36, 224);
  border: none;
  border-radius: 5px;
  color: white;
  font-size: 16px;
  width: 5rem;
  height: 2.5rem;
  margin-top: 30px;
}

.nameInput {
  width: 100%;
}

.bio {
  display: flex;
  flex-direction: column;
}


.bioBox {
  top: 20px;
  font-size: 16px;
  width: 100%;
}

.nav600 {
  display: none;
}


.name600 {
  display: none;
}

.errorPage {
  width: 100%;
  height: 100dvh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.errorImage{
  width: 65dvh;
}

.errorImage img {
  width: 100%;
}

.linkback {
  text-decoration: none;
  background: #1B2E35;
  padding: 10px;
  border-radius: 5px;
  color: white;
}

.loading {
  width: 100%;
  height: 100dvh;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media only screen and (max-width: 610px) {
  .rightArea {
    width: 100%;
    height: 100dvh;
    overflow-y: scroll;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .leftArea{
    display: none;
  }

  .AddNew {
    height: fit-content;
  }

  .nav600 {
    justify-content: space-between;
    display: flex;
    padding: 15px;
    width: 100%;
  }

  .search600 {
    display: flex;
    align-items: center;

  }

  .searchBtn {
    right: 15px;
    position: relative;
    font-size: 20px;
    color: rgb(105, 106, 110);
  }

  .searchInput600 {
    margin-right: -18px;
    width: 14.5rem;
    outline: none;
    height: 40px;
    border-radius: 5px;
    border: none;
    padding: 10px;
    border: 1px solid rgb(183, 181, 181);
    display: block;
  }

  .addBtn {
    color: rgb(129, 127, 130);
    font-size: 38px;
    cursor: pointer;
  }

  .AddNewBoard, 
  .editInputs {
    border: none;
    background: white;
    width: 100%;
    padding: 20px 60px 0 60px;
    box-shadow: none;
  }

  .ContactView {
    padding: 10px;
    height: fit-content;
  }


  .name600 {
    font-size: 21px;
    padding: 10px;
    width: 100%;
    justify-content: center;
    display: flex;
    margin-top: 8vh;
  }

  .underline600{
    margin-top: -3px;
    border-top: 3px solid red;
  }


  .formOutput600 {
    display: block;
    width: 14.5rem;
    background: rgb(255, 255, 255);
    border-radius: 5px;
    border: 1px solid rgb(185, 185, 185);
    padding: 4px;
    top: 60px;
    position: absolute;
    max-height: 70vh;
    overflow-x: hidden;
  }

  .output {
    font-size: 0.9rem;
  }

  .Board {
    width: 80%;
  }

  .ContactName {
    font-size: 20px;
  }

  .ContactAge {
    margin-top: 5px;
    font-size: 16px;
  }
  
  .Bio {
    font-size: 14px;
  }

  .authWarning p {
    font-size: 13px;
  }

  .errorImage {
    width: 50vh;
  }
}